.container-fluid {
    height: 100vh;
}

.hero, .enemy {
    height: 33.33%;
}

.hero img {
    width: 65%;
    height: calc(100% - 20px);
}

.enemy img {
    width: 65%;
    height: calc(100% - 20px);
    transform: scaleX(-1);
}

.hero.active, .enemy.active {
    border: 3px solid gold;
}

.hero.targetable {
    border: 3px solid green;
    cursor: pointer;
}

.enemy.targetable {
    border: 3px solid red;
    cursor: pointer;
}

.health-bar {
    height: 20px;
}

.progress-bar {
    color: black;
    background-color: red;
    padding: 7px 0;
}

.message-box {
    height: 30%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 3px solid #d2b48c;
    padding: 10px;
    border-radius: 7px;
    overflow-y: auto;
}

.options-bar {
    background-color: #d2b48c;
    border-top: 2px solid darkgreen;
}

.action-options {
    cursor: pointer;
}

.action-option.selected {
    background-color: rgb(0, 0, 150);
    color: white;
}