.container-fluid {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: calc(50vh - 75px);
}

    .container-fluid h1 {
        font-size: 70px;
    }

    .container-fluid a {
        font-size: 20px;
    }