<div class="container-fluid text-center text-white">
    <h1 class="mb-5">{{ gameTitle }}</h1>
    <a routerLink="/character-creation" class="btn btn-primary text-uppercase mb-2 px-5">Start</a>
    <p class="text-white">Created By: André Lopes - 2018</p>
</div>